:root {
	--primary-black: #121212;
	--secondary-black: #161616;
	--disbaled-black: #232323;
	--black-extra-1: #202020;
	--black-extra-2: #262626;
	--primary-blue: #1e0096b3;
	--secondary-blue: #5b2eee;
	--primary-red: #c31515;
	--primary-green: #00d18c;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
	color-scheme: dark;
}
body {
	color: white;
	background: var(--primary-black);
}

* {
	box-sizing: border-box;
}

.container {
	width: 100vw;
	max-width: 1360px;
	height: 100vh;
	margin: 0 auto;
	position: relative;
}

.btn-primary {
	width: 100%;
	height: 100%;
	border: none;
	display: flex;
	outline: none;
	cursor: pointer;
	font-size: 14px;
	position: relative;
	align-items: center;
	justify-content: center;
	background: var(--primary-blue);
}

.btn-primary:hover {
	--primary-blue: #1e0096;
}

.btn-primary:disabled {
	background: var(--disabled-black);
}

.error {
	color: var(--primary-red);
}
