.urlContainer {
	height: 20px;
	width: 30rem;
	text-align: center;
	position: absolute;
	top: calc(50% - 150px);
	left: calc(50% - 15rem);

	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.container {
	width: 30rem;
	padding: 0.6rem;
	position: absolute;
	left: calc(50% - 15rem);
	top: calc(50% - 75px);
	background-color: var(--secondary-black);
	box-shadow: 0 0 4px 2px #090909;
}

.inputContainer {
	width: 100%;
	margin-bottom: 0.75rem;
}

.input {
	width: 100%;
	border: none;
	outline: none;
	display: block;
	background: var(--black-extra-2);
	padding: 0.5rem 0.75rem;
}

.input:focus-within {
	background: var(--black-extra-1);
}

.btnContainer {
	height: 2.5rem;
}

.footer {
	left: 0;
	bottom: 2em;
	width: 100%;
	font-size: 12px;
	text-align: center;
	position: absolute;
}

.footer a {
	color: var(--primary-green);
}

@media screen and (max-width: 516px) {
	.container {
		width: 90%;
		left: 5%;
	}

	.urlContainer {
		width: 90%;
		left: 5%;
	}
}
